
 

    <!-- Main content -->
   <!--  <section class="content">

     
       <div class="card">
        <div class="card-body row">
          <div class="col-5 text-center d-flex align-items-center justify-content-center">
            <div class="">
              <h2>CONSAP<strong></strong></h2>
              <p class="lead mb-5">Inserire Richiesta<br>
                Compilare i campi desiderati
              </p>
            </div>
          </div>  -->


          <div class="content-wrapper">


            <div class="col-sm-6 margine">
                <h1 class="m-0">Visualizza Richiesta </h1>
                </div>

          
            <form class="marContenitore"  >

               
   
   
             <div class="row margine" >
             <div class="col-3">
               <div class="form-group">
                 <label for="inputName">Numero Ticket</label>
                 <div type="text" id="numeroTicket"  class="form-control" >{{rich.numeroTicket}}</div>
               </div>
              </div>
   
               <div class="col-9">
   
               <div class="form-group">
                   <label for="inputEmail">Oggetto</label>
                   <div type="email" id="oggetto" class="form-control">{{rich.oggetto}}</div>
                 </div>
               </div>
   
           </div>
   
           <div class="row margine" >
   
                <div class="col-3"  >
                   <div class="form-group">
                       <label for="inputMessage">Data di Creazione</label>
                      
                        
                         <div type="date" id="dataCreazione" class="form-control"  >{{rich.dataCreazione}}</div>
                         
                      <!--  <input type="text" id="dataCreazione" class="form-control" [(ngModel)]="nuovaRichiesta.dataCreazione" > --> 
                     </div>
                   </div> 
   
   
                  
                     
   
   
   
   
   
               <div class="col-3">
   
               <div class="form-group">
   
                 <label for="inputSubject">Applicativo</label>
                  
                  <div  type="text" id="Applicativo" class="form-control" >{{rich.applicativo.descApplicativo}} </div>
               </div>
           </div>
   
         
   
             
   
               <div class="col-3">
               <div class="form-group">
                   
                 <label for="inputMessage">Stato Richiesta Consap</label>
                  
                 <div type="text" id="statoRichiestaConsap" class="form-control" >{{rich.statoRichiestaConsap.descStatoRichiestaConsap}} </div>
               </div>
           </div>
   
           
             
           <div class="col-3">
   
                 <div class="form-group">
                   <label for="inputMessage">Stato Approvazione Consap</label>
                  
                   <div type="text" id="statoApprovazioneConsap" class="form-control"  >{{rich.statoApprovazioneConsap.descStatoApprovazioneConsap}}</div> 
                 </div>
   
               </div>
               </div>
   
               <div class="row margine" >
   
                   <div class="col-3">
                 <div class="form-group">
                   <label for="inputMessage">Stato Approvazione OS</label>
                  
                   <div type="text" id="statoApprovazioneOs" class="form-control" >{{rich.statoApprovazioneOs.descStatoApprovazioneOs}}</div> 
                 </div>
                 </div>
   
                 <div class="col-3">
                 <div class="form-group">
                   <label for="inputMessage">Stato Richiesta OS</label>
                   
                    <div type="text" id="statoRichiestaOs" class="form-control"  >{{rich.statoRichiestaOs.descStatoRichiestaOs}}</div> 
                 </div>
                 </div>
   
                 <div class="col-3">
                 <div class="form-group">
                   <label for="inputMessage">Data Stima Fine</label>
                    <div type="text" id="dataStimaFine" class="form-control"  >{{rich.dataStimaFine}} </div>
                  <div class="input-group-prepend">
                  
                 </div>
                 </div>
                 </div>
   
   
   
   
   
   
   
                 <div class="col-3">
                 <div class="form-group">
                   <label for="inputMessage">Importo</label>
                   <div type="text" id="Importo" class="form-control"  >{{rich.importo}}</div>
                 </div>
                 </div>
   
               </div>
   
   
               <div class="row margine" >
   
                   <div class="col-3">
                 <div class="form-group">
                   <label for="inputMessage">Codice Commessa</label>
                  
                   <div type="text" id="commessaOs" class="form-control"  >{{rich.commessaOs.descCommessaOS}}</div>
                 </div>
                 </div>
                 </div>
                 
   <!-- 
                 <div class="col-3 margine">
               <div class="form-group">
                 <input type="submit" class="btn btn-primary" value="Invia">
               </div> -->
          <!--  </div> -->
         </form>
           </div>
           
   
             
         <!--   </div>
         </div>
   
       </section> -->
       <!-- /.content -->
     
     <!-- /.content-wrapper -->
   
   
   
