
<div class="content-wrapper"> 

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <!-- <h3 class="card-title">Elenco Richieste CONSAP</h3> -->
            <div class="col-sm-6 margine">
                <h1 class="m-0">Elenco Richiesta </h1>
                </div>

            <div class="row " >

            <div class="col-3">  
            <div class="form-group">
                <label for="inputMessage"></label>
                <select class="form-control" id="Applicativo">
                    <option  value=" " >
                    Ricerca per</option>
                  </select>
              </div>
              </div>

              <div class="col-3">  
                <div class="form-group">
                    <label for="inputMessage"></label>
                    <select class="form-control" id="Applicativo">
                        <option  value=" " >
                        Ricerca per</option>
                      </select>
                  </div>
                  </div>

                  <div class="col-3">  
                    <div class="form-group">
                        <label for="inputMessage"></label>
                        <select class="form-control" id="Applicativo">
                            <option  value=" " >
                            Ricerca per</option>
                          </select>
                      </div>
                      </div>
                      </div>





           <!--  <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-default">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div> -->
        </div>

        <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
                <thead>
                    <tr>
                        <th>Numero Ticket</th>
                        <th>Applicativo</th>
                        <th>Oggetto</th>
                        <th>Stato Richiesta CONSAP</th>
                        <th>Data di creazione</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let richiesta of richieste">
                        <td>{{richiesta.numeroTicket}}</td>
                        <td>{{richiesta.applicativo.descApplicativo}}</td>
                        <td>{{richiesta.oggetto}}</td>
                        <td>{{richiesta.statoRichiestaConsap.descStatoRichiestaConsap}}</td>
                        <td>{{richiesta.dataCreazione}}</td>
                        <th><button type="button" (click)="redirect(richiesta)" class="btn btn-block btn-outline-primary btn-sm">Visualizza</button></th> 
                        <th><button type="button" (click)="redirectToModif(richiesta)" class="btn btn-block btn-outline-success btn-sm" >Modifica</button></th> 
                       

                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="col-2">
        <button type="button" class="btn btn-block btn-outline-danger btn-lg">Stampa</button>
        </div>

</div>
 </div> 

