<div class="content-wrapper">

<p>Inserisci Nuova Commessa</p>


<div class="row margine" >
    <div class="col-6">
      <div class="form-group">
        <label for="inputName">Numero Commessa</label>
        <input type="text" id="numeroTicket"  class="form-control"  />
      </div>
     </div>
     </div>



     <div class="row margine" >
        <div class="col-6">
          <div class="form-group">
            <label for="inputName">Descrizione Commessa</label>
            <input type="text" id="numeroTicket"  class="form-control" />
          </div>
         </div>
         </div>
</div>
    
